:root {
  --clr-white: #f7f6f0;
  --clr-black: #000;
  --clr-grey: #343b3f;
  --clr-dark: #6f1132;
  --clr-medium: #daa79d;
  --clr-light: #f6bdac;
  --clr-accent: ##f4dba9;

  /* These variables are used in homepage and homepage components,
  be careful if altering!!
   */
  --home-mobile-h: 300px;
  --home-tablet-w: 80%;
  --home-dsktp-w: 49%;
  --home-dsktp-h: 320px;
  --home-large-dsktp-h: 400px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: var(--clr-light);
  /* background-image: url("./assets/Background.png"); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: auto;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo,
.static-logo {
  max-width: 70%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.shrink-logo {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  max-width: 40%;
}

@media (min-width: 768px) {
  .logo,
  .static-logo {
    max-width: 55%;
  }

  .shrink-logo {
    transition: all 0s ease-in-out;
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    max-width: 0%;
  }

  .scroll-nav {
    top: -40px;
  }
}

.static-nav {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.scroll-nav {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url("./assets/Backgrounds/BG_top_long.svg");

  background-color: var(--clr-light);
  position: absolute;
  background-repeat: repeat-x;
  width: 100%;
  box-shadow: 7px 7px 15px 1px rgba(52, 59, 63, 0.72);
  z-index: 9999;
  position: fixed;
}

.orange {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

.redtext {
  background-color: red;
  color: white;
  font-size: 3rem;
}

.pinkstyle {
  color: pink;
  font-style: italic;
  font-size: 30px;
}

.sub-page-heading {
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

/* Används inte i nuläget */

.heading-dark {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2em;
  color: var(--clr-grey);
}
.heading-light {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 2em;
  color: var(--clr-white);
}

.m-heading-dark {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.3em;
  color: var(--clr-grey);
}
.m-heading-light {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.3em;
  color: var(--clr-white);
}
.m-heading-red {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.5em;
  color: var(--clr-dark);
}

.sh-dark {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 500;
  color: var(--clr-grey);
}
.sh-light {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 500;
  color: var(--clr-white);
}
.sh-red {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 500;
  color: var(--clr-dark);
}
.sh-pink {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 500;
  color: var(--clr-medium);
}

.main-dark {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  color: var(--clr-grey);
}
.main-light {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  color: var(--clr-white);
}
.main-red {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  color: var(--clr-dark);
}
.main-pink {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  color: var(--clr-medium);
}

.main-link-dark {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  color: var(--clr-grey);
  text-decoration: underline;
  cursor: pointer;
}
.main-link-dark::hover {
  color: var(--clr-red);
}

.main-link-light {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 300;
  color: var(--clr-light);
  text-decoration: underline;
  cursor: pointer;
}
.main-link-light::hover {
  color: var(--clr-dark);
}

.reg-dark {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: var(--clr-grey);
}

.reg-light {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: var(--clr-white);
}
.reg-red {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: var(--clr-dark);
}
.reg-pink {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: var(--clr-medium);
}

.link-dark {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  color: var(--clr-grey);
}

/*LÄgg in hover och active på alla länk-klasser*/

.link-light {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  color: var(--clr-white);
}

.link-red {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  color: var(--clr-dark);
}

@media (min-width: 768px) {
  .even {
    position: absolute;
    right: 150px;
  }

  .odd {
    position: absolute;
    left: 210px;
  }

  .evenImg {
    position: absolute;
    right: 150px;
  }

  .oddImg {
    position: absolute;
    left: 210px;
  }
}

.swiper {
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  color: red;
}
